body {margin: 0;}
.content {
  width: 100%;
  background: #333;
  min-height: 100vh;
}
.content .slider {
  position: relative;
  padding: 20px 0;
}
.content .slider .wrap {
  width: 100%;
  position: relative;
}
.content .slider .wrap .slider-item {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.content .slider .wrap .slider-item img {
  width: 100%;
}
.content .slider .wrap .prev {
  position: absolute;
  cursor: pointer;
  top: 0;
  width: 90px;
  left: 10%;
  background-color: rgba(0, 0, 0, 0);
  height: 100%;
}
.content .slider .wrap .prev:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.content .slider .wrap .prev:hover .arrow-left {
  opacity: 1;
}
.content .slider .wrap .prev .arrow-left {
  width: 30px;
  height: 30px;
  background: url(../icons/left-arrow.svg) center no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  opacity: .4;
}
.content .slider .wrap .next {
  position: absolute;
  cursor: pointer;
  top: 0;
  width: 90px;
  background-color: rgba(0, 0, 0, 0);
  height: 100%;
  right: 10%;
}
.content .slider .wrap .next:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.content .slider .wrap .next:hover .arrow-right {
  opacity: 1;
}
.content .slider .wrap .next .arrow-right {
  width: 30px;
  height: 30px;
  background: url(../icons/right-arrow.svg) center no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  opacity: .4;
}
.content .slider-dots {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content .slider-dots .dot {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 10px;
  background-color: #c78030;
  border-radius: 50%;
  display: inline-block;
}
.content .slider-dots .dot-active {
  background-color: #000;
  height: 18px;
  width: 18px;
}
